
<!DOCTYPE html>
<!-- #intro -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>Welcome to our website</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link th:href="@{indexStyle/img/favicon.png}" th:rel="icon">
  <link th:href="@{indexStyle/img/apple-touch-icon.png}" th:rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link th:href="@{indexStyle/https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700}" th:rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link th:href="@{indexStyle/lib/bootstrap/css/bootstrap.min.css}" th:rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link th:href="@{indexStyle/lib/font-awesome/css/font-awesome.min.css}" th:rel="stylesheet">
  <link th:href="@{indexStyle/lib/animate/animate.min.css}" th:rel="stylesheet">
  <link th:href="@{indexStyle/lib/ionicons/css/ionicons.min.css}" th:rel="stylesheet">
  <link th:href="@{indexStyle/lib/owlcarousel/assets/owl.carousel.min.css}" th:rel="stylesheet">
  <link th:href="@{indexStyle/lib/magnific-popup/magnific-popup.css}" th:rel="stylesheet">
  <link th:href="@{indexStyle/lib/ionicons/css/ionicons.min.css}" th:rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link th:href="@{indexStyle/css/style.css}" th:rel="stylesheet">

  <!-- =======================================================
    Theme Name: Reveal
    Theme URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body id="body">

  <!--==========================
    Top Bar
  ============================-->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <i class="fa fa-envelope-o"></i> <a href="mailto:contact@example.com">fcs@gmail.com</a>
        <i class="fa fa-phone"></i>+93700000000
      </div>
      <div class="social-links float-right">
        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </section>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <style>
      #faculty-content{
        overflow:scroll;
        height: 550px;
        width: 800px;
      }
      .scrollbar{
        background-color: #f5f5f5;
        float: left;
        height: 300px;
        margin-bottom: 25px;
        margin-left: 22px;
        margin-top: 40px;
        width: 65px;
        overflow-y: scroll;
      }

      .force-overflow{
        min-height: 450px;
      }

    </style>
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#body" class="scrollto">FacultyCounselor<span>System</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a th:href="@{index}">Home</a></li>
          <li><a href="#about">About Us</a></li>
           <li class="menu-has-children"><a >Faculties</a>
            <ul th:each="faculty:${faulties}" >
              <li   id="facultyIs"  value="li value"><a th:id="${faculty.getId()}" th:text="${faculty.getName()}" ></a></li>

            </ul>
          </li>
<!--          <li><a href="#services">Services</a></li>-->
         
          <li><a href="#contact">Contact</a></li>
          <li><a href="#comment">Comment</a></li>

          <li><a th:href="@{test}">Test</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">

    <div class="intro-content">
      <h2>We Will <span>show the way</span><br>to success!</h2>
      <div>
        <a th:href="@{index}" class="btn-get-started scrollto">Get Started</a>
        <a th:href="@{test}" class="btn-projects scrollto">Test your self</a>
      </div>
    </div>

    <div id="intro-carousel" class="owl-carousel" >
      <div class="item" style="background-image: url('indexStyle/img/intro-carousel/1.png');"></div>
      <div class="item" style="background-image: url('indexStyle/img/intro-carousel/2.png');"></div>
      <div class="item" style="background-image: url('indexStyle/img/intro-carousel/3.png');"></div>
      <div class="item" style="background-image: url('indexStyle/img/intro-carousel/4.png');"></div>
      <!-- <div class="item" style="background-image: url('img/intro-carousel/4.jpg');"></div> -->
    </div>

  </section>
  <main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 about-img" th:height="550" th:width="400">
                <h2><strong style="color: #0c2e8a">Faculties</strong></h2>
            
            <ul th:each="faculty:${faulties}" >

              <li   id="facultyId"  value="li value"><a th:id="${faculty.getId()}" th:text="${faculty.getName()}" th:value="test"></a></li>
               </ul>
          </div>

          <div id="faculty-content" class="col-lg-6 content" >
            <img src="indexStyle/img/kdr.jpg" height="550" width="800">

            <h1 id="title"></h1>
            <span id="content"></span>

          </div>
        </div>

      </div>
    </section><!-- #about -->
    <div >
<!--      <table th:if="${facultyInfo}">-->
<!--        <td th:text="${facultyInfo.getTitle()}"></td>-->

      </table>


    </div>
    <!--==========================
      Services Section
    ============================-->


    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2 style="color: #0c2e8a">Contact Us</h2>
          <p>You can contact us by the following list.</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Address</h3>
              <address>Kandahar University</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+155895548855">+93700000000</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:info@example.com">fcs@gmail.com</a></p>
            </div>
          </div>

        </div>
      </div>

     <!--  <div class="container mb-4">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22864.11283411948!2d-73.96468908098944!3d40.630720240038435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sbg!4v1540447494452" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div> -->
    </section>
<section id="comment">
      <div class="container">
        <div class="form">
          <h2 ><strong style="color: #0c2e8a">Comment</strong></h2>
<!--          <div id="sendmessage">Your message has been sent. Thank you!</div>-->
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        <!-- &copy; -->
        Made by <strong>Samira And Kawsar</strong>.
      </div>
<!--      <div class="scrollbar" id="style_1">-->
<!--        <div class="force-overflow"></div>-->


      </div>
      <div class="credits">
        All Rights Reserved
        <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
      </div>
    </div>
  </footer><!-- #footer --><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="indexStyle/lib/jquery/jquery.min.js"></script>

  <script src="indexStyle/lib/jquery/jquery-migrate.min.js"></script>
  <script src="indexStyle/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="indexStyle/lib/easing/easing.min.js"></script>
  <script src="indexStyle/lib/superfish/hoverIntent.js"></script>
  <script src="indexStyle/lib/superfish/superfish.min.js"></script>
  <script src="indexStyle/lib/wow/wow.min.js"></script>
  <script src="indexStyle/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="indexStyle/lib/magnific-popup/magnific-popup.min.js"></script>
  <script src="indexStyle/lib/sticky/sticky.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="indexStyle/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="indexStyle/js/main.js"></script>




<script>

  $(document).ready(function () {

    $("#facultyId a,#facultyIs a").click(function(event){


      $.ajax({
            url: "someendpoint",
            data: {id: this.id},
            type: "GET",
             success: function(data){

               $("#faculty-content").empty();
               // console.log(data)
                for (var i=0;i<4;i++) {
                  $("#faculty-content").append(data[i]['title'])
                  $("#faculty-content").append(data[i]['description'])
                }
               console.log("done")
            }

          })

    })
  })

  $(document).ready(function () {

    $("#facultyIs a").click(function(event){


      $.ajax({
        url: "someendpoint",
        data: {id: this.id},
        type: "GET",
        success: function(data){

          $("#faculty-content").empty();
          // console.log(data)
          for (var i=0;i<4;i++) {
            $("#faculty-content").append(data[i]['title'])
            $("#faculty-content").append(data[i]['description'])
          }
          console.log("done")
        }

      })

    })
  })
</script>
</body>
</html>
