<!DOCTYPE html>
<!-- #intro -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

  <title>  </title>
  <link rel="stylesheet" th:href="@{registrationStyle/registration.css}" type="text/css" />
  <style>
.alert {
  padding: 20px;
  background-color: #00CCFF;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bolder;
  float: right;
  font-size: 30px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
</style>
</head>
<div class="container">
  <form method="post" action="registration.html">
    <div class="row">
      <h4>Account</h4>
      <div class="input-group input-group-icon">
        <input type="text" placeholder="First Name" name="firstname" />
        <div class="input-icon"><i class="fa fa-user"></i></div>
      </div>
       <div class="input-group input-group-icon">
        <input type="text" placeholder="Last Name" name="lastname" />
        <div class="input-icon"><i class="fa fa-user"></i></div>
      </div>
        <div class="input-group input-group-icon">
        <input type="text" placeholder="Birth Date" name="birthdate" />
        <div class="input-icon"><i class="fa fa-user"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input type="text" placeholder="School" name="School" />
        <div class="input-icon"><i class="fa fa-key"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input type="email" placeholder="Email Adress" name="email" />
        <div class="input-icon"><i class="fa fa-envelope"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input type="password" placeholder="Password" name="password" />
        <div class="input-icon"><i class="fa fa-key"></i></div>
      </div>
      <div class="col-half" name="gender">
        <h4>Gender</h4>
        <div class="input-group">
          <input type="radio" name="gender" value="male" id="gender-male"/>
          <label for="gender-male">Male</label>
          <input type="radio" name="gender" value="female" id="gender-female"/>
          <label for="gender-female">Female</label>
        </div>
      </div> 
      <input type="submit" name="submit" value="Register" />
    </div>
  </form>
     
   </div>
   <?php 

        if (isset($_GET['message'])) {
          $res = $_GET['message'];

          if($res==1){
          echo "<div class='alert'>
              <span class='closebtn' onclick='this.parentElement.style.display='none';'>&times;</span> 
                <span style='font-weight: bold; font-size: 20px;'>Regitration Successfully Done!</span>
                  </div>";
                }else if($res==2){
                      echo "<div class='alert'>
              <span class='closebtn' onclick='this.parentElement.style.display='none';'>&times;</span> 
                <span style='font-weight: bold; font-size: 20px;'>Please Fill blank fields!</span>
                  </div>";
                }
                else{
                  echo "<div class='alert'>
              <span class='closebtn' onclick='this.parentElement.style.display='none';'>&times;</span> 
                <span style='font-weight: bold; font-size: 20px;'>Failed to register!</span>
                  </div>";
                }
        }

   -->   </div>
    </div>
      </div>
      </div> 
      

    </div>

</div>
</html>