
<!DOCTYPE html>
<!-- #intro -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Welcome to our website</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="" name="keywords">
	<meta content="" name="description">

	<!-- Favicons -->
	<link th:href="@{indexStyle/img/favicon.png}" th:rel="icon">
	<link th:href="@{indexStyle/img/apple-touch-icon.png}" th:rel="apple-touch-icon">

	<!-- Google Fonts -->
	<link th:href="@{indexStyle/https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700}" th:rel="stylesheet">

	<!-- Bootstrap CSS File -->
	<link th:href="@{indexStyle/lib/bootstrap/css/bootstrap.min.css}" th:rel="stylesheet">

	<!-- Libraries CSS Files -->
	<link th:href="@{indexStyle/lib/font-awesome/css/font-awesome.min.css}" th:rel="stylesheet">
	<link th:href="@{indexStyle/lib/animate/animate.min.css}" th:rel="stylesheet">
	<link th:href="@{indexStyle/lib/ionicons/css/ionicons.min.css}" th:rel="stylesheet">
	<link th:href="@{indexStyle/lib/owlcarousel/assets/owl.carousel.min.css}" th:rel="stylesheet">
	<link th:href="@{indexStyle/lib/magnific-popup/magnific-popup.css}" th:rel="stylesheet">
	<link th:href="@{indexStyle/lib/ionicons/css/ionicons.min.css}" th:rel="stylesheet">

	<!-- Main Stylesheet File -->
	<link th:href="@{indexStyle/css/style.css}" th:rel="stylesheet">

	<!-- =======================================================
      Theme Name: Reveal
      Theme URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
	<meta charset="utf-8"/>
	<title>Quiz</title>
	
	<style>
	div#test{ border:lightblue 4px solid; padding:10px 40px 40px 40px; background-color:#CCFFFF; width:50%;}
	</style>
	

	</head>
	<body>


<!--	<h1>contents here</h1>-->
<!--	<pre>-->
<!--	<p th:text="${facultyInfo.getTitle()}"></p>-->
<!--	<p th:text="${facultyInfo.getDescription()}"></p>-->
<!--	<p th:text="${facultyInfo.getDate()}"></p>-->
<!--	</pre>-->

	<!--==========================
    Top Bar
  ============================-->
	<section id="topbar" class="d-none d-lg-block">
		<div class="container clearfix">
			<div class="contact-info float-left">
				<i class="fa fa-envelope-o"></i> <a href="mailto:contact@example.com">fcs@gmail.com</a>
				<i class="fa fa-phone"></i>+93700000000
			</div>
			<div class="social-links float-right">
				<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
				<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
				<a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
				<a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
				<a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
			</div>
		</div>
	</section>

	<!--==========================
      Header
    ============================-->
	<header id="header">
		<div class="container">

			<div id="logo" class="pull-left">
				<h1><a href="#body" class="scrollto">FacultyCounselor<span>System</span></a></h1>
				<!-- Uncomment below if you prefer to use an image logo -->
				<!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
			</div>

			<nav id="nav-menu-container">
				<ul class="nav-menu">
					<li class="menu-active"><a th:href="@{index}">Home</a></li>
					<li><a href="#about">About Us</a></li>
					<li class="menu-has-children"><a href="">Faculties</a>
						<ul>
							<li><a href="#">Agriculture</a></li>
							<li><a href="#">Economics</a></li>
							<li><a href="#">Computer Science</a></li>
							<li><a href="#">Engineering</a></li>
							<li><a href="#">Sharia</a></li>
						</ul>
					</li>
<!--					<li><a href="#services">Services</a></li>-->

					<li><a href="#contact">Contact</a></li>
					<li><a href="#comment">Comment</a></li>


				</ul>
			</nav><!-- #nav-menu-container -->
		</div>
	</header><!-- #header -->
	<!--==========================
   Intro Section
 ============================-->
	<section id="intro">

		<div class="intro-content">

			<h2>There Are <span>No Complex Task</span><br>For Us!</h2>
			<div>
				<a th:href="@{index}" class="btn-get-started scrollto">Get Started</a>
				<a th:href="@{test}" class="btn-projects scrollto">Test your self</a>
			</div>
		</div>

		<div id="intro-carousel" class="owl-carousel" >
			<div class="item" style="background-image: th:url('@{indexStyle/img/intro-carousel/1.png}');"></div>
			<div class="item" style="background-image: th:url('@{indexStyle/img/intro-carousel/2.png}');"></div>
			<div class="item" style="background-image: th:url('@{indexStyle/img/intro-carousel/3.png}');"></div>
			<div class="item" style="background-image: th:url('@{indexStyle/img/intro-carousel/4.png}');"></div>
			<!-- <div class="item" style="background-image: url('img/intro-carousel/4.jpg');"></div> -->
		</div>

	</section>


	<h2 id="test_status"></h2>
<div > <marquee style="color: #0c2e8a ; font-family: Montserrat; font-size: 16px" > Test Yourself To Know Your Target</marquee></div><hr>
	<div id="test">

		<form >
			<table th:each="subject:${subjects}">

			<td><input class="subject" th:type="checkbox" th:id="${subject.getS_id()}" th:text="${subject.getSubject()}"></td>

			</table>
			<label id="submit">click</label>
		</form>
	</div>
	<div id="id">


	</div>
	<footer id="footer">
		<div class="container">
			<div class="copyright">
				<!-- &copy; -->
				Made by <strong>Samira And Kawsar</strong>.
			</div>
			<div class="credits">
				All Rights Reserved
			</div>
		</div>
	</footer><!-- #footer -->

<script src="indexStyle/lib/jquery/jquery.min.js"></script>

<script src="indexStyle/lib/jquery/jquery-migrate.min.js"></script>

<script>




	$(document).ready(function () {


        var subArray=[];
        $checkbox=$(".subject");

        $checkbox.click(checkArray);

        function checkArray(){
            var chkArray = [];

            chkArray = $.map($checkbox, function(el){
                if(el.checked) { return el.id };
            });

            subArray=chkArray;
        }


		$("#submit").click(function(event){

            console.log(subArray);

			$.ajax({
				url: "/subid",
                // contentType : "application/json",
                // dataType : 'json',
				data: {ids:subArray},
				type: "POST",
				success: function(data){

				    console.log("done")

				}

			})

		})
	})
</script>
	</body>
	
	</html>



